<h2>Operaciones</h2>
<hr />
<ul class="list-group">
  <!-- <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item"
  >
    Registrar transferencia
  </li> -->
  <li [routerLinkActiveOptions]="{ exact: true }" routerLink="transfer" routerLinkActive="active" class="list-group-item">
    Registrar transferencia
  </li>
  <li routerLink="balance" routerLinkActive="active" class="list-group-item">
    Consultar Saldo
  </li>
</ul>
